
data/scamimage/benson1.jpg
data/scamimage/freeman1.jpg
data/scamimage/lawrence1.jpg
data/scamimage/lawrence2.jpg
data/scamimage/Richie1.jpg
data/scamimage/smith1.jpg
data/scamimage/Walters1.jpg
data/scamprofile/scamBenson.json
data/scamprofile/scamfreeman.json
data/scamprofile/scamlawrence.json
data/scamprofile/scamRichie.json
data/scamprofile/scamsmith.json
data/scamprofile/scamWalters.json
